@media only screen and (min-width: 1440px) and (max-width: 1690px) {
  .hole_header_phrase {
    font-size: 44px;
  }

  /* MacBook Pro 2020*/
}
@media only screen and (min-width: 1366px) and (max-width: 1440px) {
  /* MacBook Pro 2020*/


@media only screen and (min-width: 1280px) and (max-width: 1366px) {

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
  /* MacBook Pro 13"*/
  /*.cosmos {
   width: 98.5%;
   right: calc(0% + width);
  }
  .stars_animate {
   width: 98.5%;
   right: calc(0% + width);
  }
}


@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* Desktop */
}




@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /* iPad */
}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */

}

@media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}
@media only screen and (min-width: 320px) {
  /* iPhone X */
}

@media only screen and (min-width: 320px) {
  /* iPhone X */
}
