@media only screen and (min-width: 1440px) and (max-width: 1690px) {
  .hole_header_phrase {
    font-size: 44px;
  }

  /* MacBook Pro 2020*/
}

@media only screen and (min-width: 1280px) and (max-width: 1366px) {
}
@media only screen and (min-width: 1080px) and (max-width: 1280px) {
}
@media only screen and (min-width: 1024px) and (max-width: 1080px) and (orientation: landscape) {
  .page__left_1 {
    display: block;
    width: 96.02%;
    height: 60.05%;
    margin: 1.4% auto 0;
  }
  .hole_header_phrase {
    font-size: 5vw;
  }
  .white_container {
    right: 5px;
  }
  .page__right_1 {
    display: block;
    width: 94.02%;
    height: 63%;
    margin: 0 auto;
  }
  .cosmos {
    display: inline-block;
    width: 100%;
    height: 30%;
  }
  .cosmos__сut-circle_left {
    width: 20%;
    height: 90%;
    top: 5%;
    left: 5%;
  }
  .cosmos__space_circle {
    top: 5%;
    left: 20%;
    width: 29.8%;
    height: 90%;
  }
  .cosmos__сut-circle_right {
    width: 20%;
    height: 90%;
    top: 5%;
    left: 73%;
  }
  .stars_animate {
    width: 100%;
    height: 70%;
  }
  .stars_animate_sprites {
    background: url("../images/stars_animate_2.svg");
    background-size: cover;
    width: 115%;
    margin: 0 auto;
    height: 115%;
  }
  @keyframes move_circle {
    0% {left: 7.6%;}
    50% {left: 60.33%;}
    100% {left: 7.6%;}
  }
  .ovals_container {
    width: 31%;
    height: 30.1%;
    margin: -4px 0 0 3%;
  }
  .image_mountains_container {
    width: 63.2%;
    height: 30.1%;
    margin-top: -4px;
  }
  .star {
    height: 29.11%;
  }
  .ellipse_4 {
    height: 18.14%;
  }
  .ellipse_5 {
    height: 30.67%;
  }
  .ellipse_6 {
    height: 20.92%;
  }
  .page_3 {
    width: 94.02%;
    margin: -1px auto 1.4% auto;
  }
  .circle_blue_third-page_1{
    width: 27.2%;
  }
  .circle_blue_third-page_2 {
    width: 18.8%;
  }
  .circle_blue_third-page_3 {
    width: 27.8%;
  }
  .ship_blue {
    width: 49.11%;
  }
  .ship_green {
    width: 35.9%;
  }
  .ship_white {
    width: 37.46%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .page__left_1 {
    display: block;
    width: 96.02%;
    height: 60.05%;
    margin: 1.4% auto 0;
  }
  .hole_header_phrase {
    font-size: 5vw;
  }
  .white_container {
    right: 5px;
  }
  .page__right_1 {
    display: block;
    width: 94.02%;
    height: 39.63%;
    margin: 0 auto;
  }
  .cosmos {
    display: inline-block;
    width: 33%;
    height: 100%;
  }
  .cosmos__сut-circle_left {
    transform: rotate(90deg);
    width: 60%;
    height: 30%;
    top: 0%;
    left: 20%;
  }
  .cosmos__space_circle {
    top: 7.2%;
    left: 20%;
    width: 61.76%;
    height: 29.72%;
  }
  .cosmos__сut-circle_right {
    transform: rotate(90deg);
    width: 60%;
    height: 30%;
    top: 67.03%;
    left: 20%;
  }
  .stars_animate {
    margin-left: -1px;
    width: 67%;
    height: 100%;
  }
  .stars_animate_sprites {
    background: url("../images/stars_animate_responsive.svg");
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  @keyframes move_circle {
    0% {top: 7.2%;}
    50% {top: 60.33%;}
    100% {top: 7.2%;}
  }
  .ovals_container {
    width: 31%;
    height: 30.1%;
    margin: -1px 0 0 3%;
  }
  .image_mountains_container {
    width: 63.1%;
    height: 30.1%;
    margin-top: -1px;
  }
  .star {
    height: 29.11%;
  }
  .ellipse_4 {
    height: 18.14%;
  }
  .ellipse_5 {
    height: 30.67%;
  }
  .ellipse_6 {
    height: 20.92%;
  }
  .page_3 {
    width: 93.85%;
    margin: -1px auto 1.35% auto;
  }
  .circle_blue_third-page_1{
    width: 27.2%;
  }
  .circle_blue_third-page_2 {
    width: 18.8%;
  }
  .circle_blue_third-page_3 {
    width: 27.8%;
  }
  .ship_blue {
    width: 49.11%;
  }
  .ship_green {
    width: 35.9%;
  }
  .ship_white {
    width: 37.46%;
  }
}


@media only screen and (min-width: 320px) and (max-width: 768px) {
  .page__left_1 {
    display: block;
    width: 96.02%;
    height: 60.05%;
    margin: 1.4% auto 0;
  }
  .hole_header_phrase {
    font-size: 5vw;
  }
  .white_container {
    right: 5px;
  }
  .page__right_1 {
    display: block;
    width: 94.02%;
    height: 39.63%;
    margin: 0 auto;
  }
  .cosmos {
    display: inline-block;
    width: 33%;
    height: 100%;
  }
  .cosmos__сut-circle_left {
    transform: rotate(90deg);
    width: 60%;
    height: 30%;
    top: 0%;
    left: 20%;
  }
  .cosmos__space_circle {
    top: 7.2%;
    left: 20%;
    width: 61.76%;
    height: 29.72%;
  }
  .cosmos__сut-circle_right {
    transform: rotate(90deg);
    width: 60%;
    height: 30%;
    top: 67.03%;
    left: 20%;
  }
  .stars_animate {
    margin-left: -1px;
    width: 67%;
    height: 100%;
  }
  .stars_animate_sprites {
    background: url("../images/stars_animate_responsive.svg");
    width: 100%;
    background-size: cover;
  }
  @keyframes move_circle {
    0% {top: 7.2%;}
    50% {top: 60.33%;}
    100% {top: 7.2%;}
  }
  .ovals_container {
    width: 31%;
    height: 30.1%;
    margin: -1px 0 0 3%;
  }
  .image_mountains_container {
    width: 63.1%;
    height: 30.1%;
    margin-top: -1px;
  }
  .star {
    height: 29.11%;
  }
  .ellipse_4 {
    height: 18.14%;
  }
  .ellipse_5 {
    height: 30.67%;
  }
  .ellipse_6 {
    height: 20.92%;
  }
  .page_3 {
    width: 93.85%;
    margin: -1px auto 1.35% auto;
  }
  .circle_blue_third-page_1{
    width: 27.2%;
  }
  .circle_blue_third-page_2 {
    width: 18.8%;
  }
  .circle_blue_third-page_3 {
    width: 27.8%;
  }
  .ship_blue {
    width: 49.11%;
  }
  .ship_green {
    width: 35.9%;
  }
  .ship_white {
    width: 34.36%;
  }
}

@media only screen and (min-width: 320px) {
  /* iPhone X */
}
