@import 'reset.css';
@import 'content.css';
@import 'responsive.css';
@font-face {
    font-family: "HalvarBreit";
    src: url("../fonts/HalvarBreit-Lt.woff") format("woff");
    font-weight: lighter;
    }
